<%- include('partials/header.ejs') %> 



<!-- job filter section stars  -->

<section class="job-filter">

    <h1 class="heading">filter jobs</h1>
 
    <form action="/jobs/filteredjobs" method="post">
       <div class="flex">
          <div class="box">
             <p>job title <span>*</span></p>
             <select  name="jobTitle" size="1" placeholder="keyword, category or company" required maxlength="20" class="input">
                <option value="Car Washing">Car Washing</option>
                <option value="Restaurant Cafe">Restaurant Cafe</option>
                <option value="Security">Security</option>
                <option value="Shops">Shops</option>
                <option value="Car-Service">Car-Service</option>
                <option value="IT Designer">IT Designer</option>
                <option value="Delivery">Delivery</option>
                <option value="Other Jobs">Other Jobs</option>
             </select>
          </div>
          <div class="box">
             <p>job location</p>
             <select  name="location" size="1" placeholder="keyword, category or company" required maxlength="20" class="input">
                <option value="Sulaimaniah">Sulaimaniah</option>
                <option value="Erbil">Erbil</option>
                <option value="Kirkuk">Kirkuk</option>
                <option value="Duhok">Duhok</option>
             </select>
       </div>
       <div class="flex-btn">
         <button type="submit" class="btn">Search</button>
      </div>
    </form>
 
 </section>
 
 <!-- job filter section ends -->
 
 <!-- all jobs section starts  -->
 
 <section class="jobs-container">
 
    <h1 class="heading">all jobs</h1>
 
    <div class="box-container">
 
      <% allJobs.forEach(job => { %>
         <div class="box">
            <div class="company">
               <img src="img/images/icon-1.png" alt="">
               <div>
                  <h3><%= job.companyName %></h3>
                  <p><%= job.dateOfPost %></p>
               </div>
            </div>
            <h3 class="job-title"><%= job.jobTitle %></h3>
            <p class="location"><i class="fas fa-map-marker-alt"></i> <span><%= job.location %></span></p>
            <div class="tags">
               <p><i class="fas fa-indian-rupee-sign"></i> <span><%= job.salary %></span></p>
               <p><i class="fas fa-briefcase"></i> <span><%= job.shift %></span></p>
               <p><i class="fas fa-clock"></i> <span>day shift</span></p>
            </div>
            <form action="/jobs" method="post" >
               <div class="flex-btn">
                  <a href="jobs/<%= job._id %>" class="btn">view details</a>
                  <input style="display: none;" name="jobId" type="text" value=<%= job._id %>>
                  <!-- <button type="submit" class="logutBtn" name="save" <%= deleteBtnDsip %> style="display: none;"><i class="fa-solid fa-square-xmark fa-2xl" style="color: #e53e3e;"></i></button> -->
                  <button type="submit" class="far fa-heart" name="save"></button>
               </div>
            </form>
         </div> 
      <% }); %>

    </div>
 
 </section>
 
 
 <!-- all jobs section ends -->

 <%- include('partials/footer.ejs') %> 
