<%- include('partials/header.ejs') %> 

    <!-- view job section starts  -->

<section class="job-details">

    <h1 class="heading">job details</h1>
 
    <div class="details">
       <div class="job-info">
          <h3><%= job.jobTitle %></h3>
          
          <p><i class="fas fa-map-marker-alt"></i><%= job.location %></p>
       </div>
       <div class="basic-details">
          <h3>salary</h3>
          <p><%= job.salary %></p>
          <h3>Time</h3>
          <p><%= job.shift %></p>
          <h3>Gender</h3>
          <p><%= job.gender %></p>
          <h3>Education-Needed</h3>
          <p><%= job.education %></p>
          <h3>Experience</h3>
          <p><%= job.experience %></p>
          <h3>description</h3>
          <p><%= job.jobDescription %></p>
           <h3>Workers Needed</h3>
           <p><%= job.numberOfEmployees %></p>
       </div>
       <div>
         <form action="" method="post" class="flex-btn" style="display: inline;">
            <input type="submit" value="apply now" name="apply" class="btn">
          </form> 
          <form action="/delete" method="post" class="flex-btn" style="display: inline;">
            <input type="text" style="display: none;" name="deleteJobId" value="<%= job._id %>">
            <input type="submit" value="Delete" name="delete" <%= deleteBtnDsip %> style="display: none;" class="btn">
          </form> 
       </div>
       </div>
    </div>
 
 </section>
 
 <!-- view job section ends -->
 

<%- include('partials/footer.ejs') %> 
